<section id="detail-page">
    <div class="columns">
        <!-- image -->
        <div class="column is-7">
            <img src="<%= restaurant.image %>" alt="Restaurant image">
        </div>

        <!-- detail description -->
        <ul class="column content" style="list-style: inside; margin-left: 12px;">
            <!-- Restaurant -->
            <li style="margin-top: 16px; white-space: nowrap;">
                <strong><%= restaurant.restaurant %></strong>
            </li>
            <!-- title -->
            <li style="margin-top: 16px; white-space: nowrap;">
                <strong><%= restaurant.title %></strong>
            </li>
            <!-- Conins -->
            <li style="margin-top: 16px; white-space: nowrap;">
                <strong>Conins:</strong>
                <%= restaurant.coins %>
            </li>
             <!-- Quota -->
             <li style="margin-top: 16px; white-space: nowrap;">
                <strong>Quota:</strong>
                <%= restaurant.quota %>
            </li>
            <!-- Address -->
            <li style="margin-top: 16px; white-space: nowrap;">
                <strong>Address:</strong>
                <%= restaurant.detail %>
            </li>
            <!-- Valid Till -->
            <li style="margin-top: 16px; white-space: nowrap;">
                <strong>Valid Till:</strong>
                <%= restaurant.dealValidTill %>
            </li>
            
        </ul>

    </div>
</section>